@import "./common.css";

.button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.button.full {
  width: -webkit-fill-available;
}

.button.max-content {
  width: max-content;
}

.button.red {
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: 1px solid var(--secondary-red-200);
}

.button.red:hover {
  background-color: var(--secondary-red-300);
}

.button.black {
  background-color: var(--primary-black);
  color: var(--neutral-grey-200);
  border: 1px solid var(--neutral-grey-200);
}

.button.black:hover {
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
}

.button.white {
  background-color: var(--primary-white);
  color: var(--primary-black);
  border: 1px solid var(--primary-white);
}

.button.white:hover {
  background-color: var(--neutral-grey-10);
}

.button.grey {
  background-color: var(--neutral-grey-300T70);
  color: var(--primary-white);
  border: 1px solid var(--transparent-white-10);
}

.button.grey:hover {
  background-color: var(--neutral-grey-300T40);
  border: 1px soild var(--transparent-white-15);
}

.button.small {
  height: 32px;
}

.button.large {
  height: 40px;
}
