:root {
  --primary-black: #000000;
  --primary-red: #e50914;
  --primary-white: #ffffff;
  --secondary-red-100: #eb3942;
  --secondary-red-200: #c11119;
  --secondary-red-300: #f50723;
  --secondary-blue-100: #0071eb;
  --secondary-blue-200: #448ef4;
  --secondary-blue-300: #54b9c5;
  --secondary-green: #46d369;
  --transparent-black-30: rgb(0, 0, 0, 0.3);
  --transparent-black-60: rgb(0, 0, 0, 0.6);
  --transparent-black-90: rgb(0, 0, 0, 0.9);
  --transparent-white-15: rgb(255, 255, 255, 0.15);
  --transparent-white-20: rgb(255, 255, 255, 0.2);
  --transparent-white-25: rgb(255, 255, 255, 0.25);
  --transparent-white-30: rgb(255, 255, 255, 0.3);
  --transparent-white-35: rgb(255, 255, 255, 0.35);
  --transparent-white-50: rgb(255, 255, 255, 0.5);
  --transparent-white-70: rgb(255, 255, 255, 0.7);
  --neutral-grey-10: rgb(229, 229, 229);
  --neutral-grey-20: rgb(220, 220, 220);
  --neutral-grey-25: rgb(210, 210, 210);
  --neutral-grey-50: rgb(188, 188, 188);
  --neutral-grey-100: rgb(179, 179, 179);
  --neutral-grey-150: rgb(151, 151, 151);
  --neutral-grey-200: rgb(128, 128, 128);
  --neutral-grey-250: rgb(119, 119, 119);
  --neutral-grey-300T40: rgb(109, 109, 110, 0.4);
  --neutral-grey-300T70: rgb(109, 109, 110, 0.7);
  --neutral-grey-350: rgb(84, 84, 84);
  --neutral-grey-400: rgb(65, 65, 65);
  --neutral-grey-450: rgb(64, 64, 64);
  --neutral-grey-500: rgb(58, 58, 58);
  --neutral-grey-550: rgb(54, 54, 54);
  --neutral-grey-600T60: rgb(51, 51, 51, 0.6);
  --neutral-grey-600: rgb(51, 51, 51);
  --neutral-grey-650: rgb(47, 47, 47);
  --neutral-grey-700: rgb(42, 42, 42);
  --neutral-grey-750: rgb(38, 38, 38);
  --neutral-grey-800: rgb(35, 35, 35);
  --neutral-grey-850: rgb(24, 24, 24);
  --neutral-grey-900: rgb(20, 20, 20);
}
